@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --color: 240, 240, 240;
}

body {
  background: rgb(var(--color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button {
  padding: 0.8rem;
  border-radius: 0.4rem;
  background-color: rgb(200, 200, 200);
}

.button:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.button:disabled {
  cursor: not-allowed;
  background-color: rgba(200, 200, 200, 0.5);
}
