@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: 240,240, 240;
}

body {
  background: rgb(var(--color))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.submit {
  padding: .8rem;
  border-radius: .4rem;
  background-color: rgb(200, 200, 200);
}

.submit:hover {
  background-color: rgba(200, 200, 200, .5);
}
