.section {
  padding: 0.5rem 1rem;
}

.contentInfo {
  margin: 0.5rem;
}

.contentInfo > span {
  font-size: 0.8rem;
}

.lat {
  font-size: 0.8rem;
}

.table {
  margin-top: 0.4rem;
  width: 100%;
}

.table td {
  border: 1px solid rgba(200, 200, 200, 0.4);
  font-size: 0.9rem;
}

.table th {
  border: 1px solid rgba(200, 200, 200, 0.4);
  font-size: 0.9rem;
}
